.Main {
  max-width: 800px;
  margin: 0 auto;

  // padding: ($header + 80px) 80px 80px;
  padding: 80px;
  min-height: 100%;
  position: relative;
  counter-reset: section;

  &__main {
    position: relative;
    text-align: left;
    @include text;
    color: $white;
    min-height: 500px;

    .--light & {
      color: $darkerBlack;
    }
  }

  &__textarea,
  &__preview {
    color: inherit;
    line-height: inherit;
    font-size: inherit;
    border: 0;
    margin: 0;
    tab-size: inherit;
    white-space: pre-wrap;
    word-break: keep-all;
    overflow-wrap: break-word;
    resize: none;
    width: 100%;
  }
  &__preview {
    pointer-events: none;
    position: relative;
    min-height: 100%;
    & > div {
      position: relative;
      display: block;
      min-height: 26px;
    }
  }

  &__textarea {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-text-fill-color: transparent;
    min-height: 200px;
  }
  &__line {
    counter-increment: section;
    position: absolute;
    top: 0;
    right: 100%;
    width: auto;
    font-size: 12px;
    opacity: 0.5;
    padding-right: 10px;
    &:before {
      content: counter(section);
    }
  }
  &__syllable {
    position: absolute;
    top: 0;
    left: 100%;
    width: auto;
    font-size: 12px;
    opacity: 0.5;
    padding-left: 10px;
    color: $blue;
  }
}
