/*
* COLORS
*/

$darkerBlack: #1d1f23;
$darkBlack: #21252b;
$black: #282c34;
$white: #f1f1f1;
$grey: #ccc;
$purple: #5f42ff;
$blue: #159cd1;

$background: $black;
$text: $white;

$header: 40px;
$marginSidebar: 8px 10px;
