.Metronome {
  position: absolute;
  top: 0;
  left: 80px;
  height: $header;
  width: auto;
  z-index: 9;
  display: flex;
  align-items: center;
  opacity: 0.4;

  .--light & {
    color: $darkerBlack;
  }

  @include hover {
    opacity: 1;
  }

  &__btn {
    display: block;
    text-align: center;
    width: 20px;
    font-size: 0px;
    padding: 2px;
    cursor: pointer;

    svg {
      fill: $white;
      width: 14px;
      height: 14px;
      display: block;

      .--light & {
        fill: $darkerBlack;
      }
    }
  }

  &__bpm {
    position: relative;
    font-size: 12px;
    line-height: 20px;
    display: flex;

    &.--error {
      input {
        color: red;
      }
    }

    input {
      color: inherit;
      background: $darkBlack;

      .--light & {
        background: $grey;
        color: $darkerBlack;
      }

      border-radius: 3px;
      /* Chrome, Safari, Edge, Opera */
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
      }

      /* Firefox */
      &[type="number"] {
        -moz-appearance: textfield;
      }
      text-align: center;
      border: 0;
      outline: none;
      font-size: 12px;
      line-height: 24px;

      padding: 0 5px;
    }
  }
  span {
    font-size: 12px;
    line-height: 24px;
    padding: 0 5px;
  }
}
